{% include 'admin_navbar.html' %}

<div class="main-content">

    <div class="card-body">

    <form method="GET" class="row mb-3">

        <div class="col-md-4">

            <label>Month</label>

            <select name="month" class="form-control">

                {% for value,name in months %}

                <option value="{{ value }}"
                    {% if value == selected_month %}
                        selected
                    {% endif %}
                >
                    {{ name }}
                </option>

                {% endfor %}

            </select>

        </div>

        <div class="col-md-4">

            <label>Year</label>

            <select name="year" class="form-control">

                {% for year in years %}

                <option value="{{ year }}"
                    {% if year == selected_year %}
                        selected
                    {% endif %}
                >
                    {{ year }}
                </option>

                {% endfor %}

            </select>

        </div>

        <div class="col-md-4 mt-4">

            <button type="submit"
                    class="btn btn-primary">
                Filter
            </button>

        </div>

    </form>

            <table class="table table-bordered">

                <thead>
                    <tr>
                        <th>Branch Name</th>
                        <th>Total Due</th>
                        <th>Action</th>
                    </tr>
                </thead>

               <tbody>

{% for invoice in invoices %}

<tr>

    <td>
        {{ invoice.user.registration.First_name }}
    </td>

    <td>
        {{ invoice.get_month_display }}
    </td>

    <td>
        {{ invoice.year }}
    </td>

    <td>
        ₹ {{ invoice.total_amount }}
    </td>

    <td>

        {% if invoice.status == 'Paid' %}

        <span class="badge bg-success">
            Paid
        </span>

        {% else %}

        <span class="badge bg-danger">
            Pending
        </span>

        {% endif %}

    </td>

    <td>

        <a href="{% url 'branch_billing_detail' invoice.user.id %}?month={{ invoice.month }}&year={{ invoice.year }}"
           class="btn btn-primary btn-sm">

            View Details

        </a>

    </td>

</tr>

{% empty %}

<tr>

    <td colspan="6" class="text-center">
        No invoices found
    </td>

</tr>

{% endfor %}

</tbody>

            </table>

        </div>

    </div>

</div>