{% include 'admin_navbar.html' %}

<div class="main-content">

    <div class="card">

        <div class="card-header">
            Update Payment
        </div>

        <div class="card-body">

            <h5>
                Branch :
                {{ invoice.user.registration.First_name }}
            </h5>

            <h5>
                Amount :
                ₹ {{ invoice.total_amount }}
            </h5>

            <form method="POST">

                {% csrf_token %}

                <div class="mb-3">

                    <label>Transaction ID</label>

                    <input
                        type="text"
                        name="transaction_id"
                        class="form-control"
                        value="{{ invoice.transaction_id|default:'' }}"
                    >

                </div>

                <div class="mb-3">

                    <label>Payment Date</label>

                    <input
                        type="date"
                        name="payment_date"
                        class="form-control"
                        value="{{ invoice.payment_date|date:'Y-m-d' }}"
                    >

                </div>

                <div class="mb-3">

                    <label>Remarks</label>

                    <textarea
                        name="remarks"
                        class="form-control"
                    >{{ invoice.remarks }}</textarea>

                </div>

                <div class="mb-3">

                    <label>Status</label>

                    <select
                        name="status"
                        class="form-control"
                    >

                        <option value="Pending"
                        {% if invoice.status == 'Pending' %}
                        selected
                        {% endif %}
                        >
                            Pending
                        </option>

                        <option value="Paid"
                        {% if invoice.status == 'Paid' %}
                        selected
                        {% endif %}
                        >
                            Paid
                        </option>

                    </select>

                </div>

                <button
                    type="submit"
                    class="btn btn-success"
                >
                    Save Payment
                </button>

            </form>

        </div>

    </div>

</div>