{% include 'admin_navbar.html' %}

<div class="main-content">

    <!-- Generate Invoice Card -->

<div class="card shadow-sm mb-3">
    <div class="card-body py-3">

        <div class="row g-3 align-items-end">

            <!-- Generate Invoice -->
            <div class="col-lg-6">

                <form method="POST"
                      action="{% url 'generate_monthly_invoices' %}">

                    {% csrf_token %}

                    <div class="row g-2">

                        <div class="col-md-3">
                            <label class="form-label small fw-bold">
                                Generate Month
                            </label>

                            <select name="month"
                                    class="form-select form-select-sm"
                                    required>

                                {% for value,name in months %}
                                <option value="{{ value }}">
                                    {{ name }}
                                </option>
                                {% endfor %}

                            </select>
                        </div>

                        <div class="col-md-3">
                            <label class="form-label small fw-bold">
                                Year
                            </label>

                            <select name="year"
                                    class="form-select form-select-sm"
                                    required>

                                {% for year in years %}
                                <option value="{{ year }}">
                                    {{ year }}
                                </option>
                                {% endfor %}

                            </select>
                        </div>

                        <div class="col-md-3">
                            <button type="submit"
                                    class="btn btn-success btn-sm w-100 " style="visibility:hidden;">

                                <i class="bi bi-file-earmark-plus"></i>
                                Generate

                            </button>
                             <button type="submit"
                                    class="btn btn-success btn-sm w-100">

                                <i class="bi bi-file-earmark-plus"></i>
                                Generate

                            </button>
                        </div>

                    </div>

                </form>

            </div>

            <!-- Filter -->
            <div class="col-lg-6">

                <form method="GET">

                    <div class="row g-2">

                        <div class="col-md-4">
                            <label class="form-label small fw-bold">
                                Filter Month
                            </label>

                            <select name="month"
                                    class="form-select form-select-sm">

                                {% for value,name in months %}
                                <option value="{{ value }}"
                                    {% if value == selected_month %}
                                        selected
                                    {% endif %}
                                >
                                    {{ name }}
                                </option>
                                {% endfor %}

                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label small fw-bold">
                                Year
                            </label>

                            <select name="year"
                                    class="form-select form-select-sm">

                                {% for year in years %}
                                <option value="{{ year }}"
                                    {% if year == selected_year %}
                                        selected
                                    {% endif %}
                                >
                                    {{ year }}
                                </option>
                                {% endfor %}

                            </select>
                        </div>

                        <div class="col-md-4">
                           <button type="submit"
                                    class="btn btn-primary btn-sm w-100" style="visibility: hidden;">

                                <i class="bi bi-funnel"></i>
                                Filter

                            </button>
                            <button type="submit"
                                    class="btn btn-primary btn-sm w-100">

                                <i class="bi bi-funnel"></i>
                                Filter

                            </button>
                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>
</div>

    <!-- Invoice Table -->

    <div class="card">

        <div class="card-body">

            <table class="table table-bordered table-striped">

                <thead>

                    <tr>
                        <th>Branch</th>
                        <th>Month</th>
                        <th>Year</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>

                </thead>

                <tbody>

                    {% for invoice in invoices %}

                    <tr>

                        <td>
                            {{ invoice.user.registration.First_name }}
                        </td>

                        <td>
                            {{ invoice.get_month_display }}
                        </td>

                        <td>
                            {{ invoice.year }}
                        </td>

                        <td>
                            ₹ {{ invoice.total_amount }}
                        </td>

                        <td>

                            {% if invoice.status == 'Paid' %}

                                <span class="badge bg-success">
                                    Paid
                                </span>

                            {% else %}

                                <span class="badge bg-danger">
                                    Pending
                                </span>

                            {% endif %}

                        </td>

                        <td>

                            <a href="{% url 'invoice_payment' invoice.id %}"
                               class="btn btn-primary btn-sm">

                                Update Payment

                            </a>

                        </td>

                    </tr>

                    {% empty %}

                    <tr>

                        <td colspan="6"
                            class="text-center">

                            No invoices found for
                            {{ month_name }}
                            {{ selected_year }}

                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>